*{
    box-sizing: border-box;
}
html,body{
    height:100%;
}

/* Colors:
Aqua-#04ECF0
Turquoise-#04D4F0
Cyan- #6AF2F0
Blue Grotto-#059DC0
*/
/*Nav Menu */
/* Want to center Items when compressed
Also want them to be highlighted on hover.*/

.navbar{
    display: flex;
    background-color: #dfdfdf;
    margin:0px;
    padding: 0;

}
.navbar-nav{
    flex-grow:1;
}

.sideicon{
    margin-right: 0px;
}

.nav-item{
    text-align: center;
    flex-grow: 1;
    margin-left: 5px;
    margin-right: 5px;

}
.nav-item a:hover{
    background-color:rgba(51, 204, 204, .9);
    color: white;
}
.nav-item a{
    border-radius: 5px;
}
/*Creating Sidenav Menu */
.iconbox{
    display:block;
    justify-content: center;
    padding:0;
    margin:0;
}
.fa-solid{
    color:white;
}
.icon{
    justify-content: center;
    padding-left:0;
    margin-left: 0;

}
.problemcontainer{
    width: 30%;
    padding-bottom: 50px;
}
.closebutton{
    position: absolute;
    right:1px;
    top:2px;
    background-color:#33CCCC;
    color:white;
    border: none;
    font-size: x-large;
    display:none;
}
.sidebar{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    background-color:#33CCCC;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 20px;
}
#allcontent{
    position:relative;
}



.sidebar .f{ 
    position: absolute;
    top: 0;
    right: 0px;
    height: 100px;
    font-size: 36px;
    margin-left: 50px;
}
.sidebar{
    text-align: center;
}

.sidecontent{
    color:white;
    padding-top: 0px;
    padding-bottom: 0;
    text-shadow: 3px 3px 3px black;
}
#authorpic{
    margin-top: 5px;
    padding-top: 0;
    border-radius: 50%;
    border:5px white;
    border-style:ridge;
    max-width: 50%;
}
.sidetext{
    background-color: white;
    color: black;
    text-align: left;
    margin: 10px 10px;
    padding: 10px 5px 5px 5px;
    border-radius: 10px;
    border: grey 2px solid;
    opacity: 100%;
    font-size: small;
}
.openbtn{
    position: relative;
    font-size: 20px;
    cursor: pointer;
    background-color: #33CCCC;
    color: white;
    padding: 10px 15px;
    border: none;
    display:inline-block;
    /*border-top-right-radius: 5px;*/
    border-bottom-right-radius: 5px;
}
h2{
    font-size: 50px;
}
#main{
    transition: margin-left .5s;
    padding: 0;
}
.content{
    padding: 0 20px;
}
/* When height is less than 450ps, change the style of sidenav */

@media screen and (max-height: 450px){
    .sidebar a {font-size: 18px;}
}
/* Styling the links */ 


/* Links change on hover */
/* Self question: Should the background of the links
change on hover? */
.debug{
    border: 4px red dotted;
}
.debugg{
    border: 4px green dotted;
}
.nav-item .active{
    background-color: #808080;
}
.nav-item .active:hover{
    color:white;
}


/* Monty hall*/
.main{
    position: relative;
}
.problemintro{
    font-size: x-large;
    font-weight: bold;
    background-color:#059DC0;
    color: white;
    opacity: 90%;
    border-radius: 2px ;
}
strong{
    color:black;
    padding: 10px;
    font-size: xx-large;
}
.instruction{
    font-size: large;
    display: block;
    position: relative;
    padding: 0 20px;
    
}

.containers{
    margin-bottom: 40px ;
    padding: 0 0 10px 0px;
    border: 2px solid black;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
}
.canvascont{
    padding: 10px;
    margin: 10px auto;
    display: relative;
    width:fit-content;
    
}
.piecanvas{
    padding: 20px;
    height: 400px;
    background-color: aliceblue;
    border-radius: 10px;
    border: 2px solid black;
}
.tcontain{
    width: 100%;
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
}
.strathead{
    font-size: large;
    font-weight: bold;
}
.stable{
    width: 100%;
    margin: 20px auto;
}
#stepsexplainer{
    padding: 0 20px;
    font-family:Arial, Helvetica, sans-serif;
}
.multidooroutline{
    display: block;
    position: relative;
    height: 450px;
    width:100%;
    margin: 0px auto;
    padding-top: 15px;
    padding-bottom: 40px;
    align-content: center;
}

.doorcontain{
    position: relative;
    margin: 0px auto;
}
.doorline{
    height: 350px;
    margin: 0px auto;
    padding: 0px;
    position: relative;
    
}
.imgoutline{
    position: relative;
    height: 95%;
    width: 90%;
    border: 2px black solid;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
#startbuttonrow{
    display: flex;
    align-items: center;
    justify-content: center;
}
.gamebuttons{
    background-color: #07a0c2;
    color:white;
}
.gamebuttons:hover{
    background-color: #056f87;
    color:white;
}
.gamebuttons:active{
    background-color: #056f87;
    color:white;
}

#stayswitchrow{
    display: flex;
    display: none;
    align-items: center;
    justify-content: center;
}
#cards{
    margin: 0px 20px;
}

.cardoor{
    height: 100%;
    width: 100%;
}
.doornum{
    display: block;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 150px;
    color:black;
  }
  .goatimg{
    position:relative;
    max-width: 100%;
    max-height: 100%;
    
  }
  .dooroverlay{
    position:absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 100%;
    transition: .5s ease;
  }
.button-row{
    width: 100%;
    margin: auto;
}
.buttonsrow{
    height: 75px;
    padding:0;
    margin: auto;
}

#switchbtn{
    margin-top: 5px;
    margin-right: 20px;
}
#staybtn{
    margin-top: 5px;
    margin-left: 20px;
}
#selectrow{

    justify-content: space-around;
    align-items: center;
    display: none;
    
}

#restartrow{
   
    justify-content: center;
    align-items: center;
    display: none;
}
.buttons{
    height: 80%;
    min-width: 20%;
    font-size:x-large;
}


/*simulator*/
.simbutton{
    font-size: larger;
    font-weight: bold;
    display:inline-block;
    margin-top: 10px;
    margin-left: 50px;

}
.simulatorounds{   
    display: block;
    border:#056f87 2px solid;
    border-radius: 10px;
    padding: 20px;
    margin: 10px auto;
    width:fit-content;
    font-size: large; 
}
.roundsinput{
    width:70px;
    border-radius: 7px;
    background-color: rgba(51, 204, 204,50%);
    color:black;
    text-align: center;
}
#resetbutton{
    margin-top: 20px;
    border:#056f87 2px solid;
}
.alertv{
    margin-top: 30px;
    height: 100%;
    align-items: center;
    display: none;
}
.explainer{
    text-align:justify;
    margin: 2%;
    font-size: medium;
}

@media screen and (min-width: 1100px) { 
    .contop{
        width: 45%;
        margin:20px;
        float:left;
    }
    .chartcontainer{
        clear:left;
        width: 60%;
        margin:10px auto;
    }
    
  }
/* Chrome, Safari, Edge, Opera
Removes the arrows from input */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


/*Birthday Problem*/

.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 15px; /* Specified height */
    border-radius:5px;
    background: rgba(5, 157, 192, 40%); /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.8; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
    position: relative;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-image: url('/pic/birthday-cupcake.png');
    background-size: contain;
    background-position: 0px 30%;
    background-repeat: no-repeat;
    cursor: pointer;
  }
  /*.slider::-moz-range-thumb {
    width: 23px;
    height: 24px;
    border: 0;
      border-radius: 50%;
    background-image: url('/pic/birthday-cupcake.png');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
  }
  */
  .math-container{
    background-color: rgba(51, 204, 204, 20%);
    width: 70%;
    margin: 25px auto;
    padding: 15px;
    border-radius: 10px;
    font-size: large;
  }
  .slidecontainer{
    margin: 20px;
    margin-bottom:  0px;
  }
  #demo{
    border-radius: 10px;
    font-size: larger;
    text-align: center;
    margin-top: 10px;
  }

  .subheadingm{
    font-weight: bold;
    text-decoration:underline;
    margin-bottom: 2%;
  }
  .inputheading{
    margin: 10px auto;
    background-color:rgba(51, 204, 204, 20%);
    width: 40%;
    font-weight: 600;
    font-size: medium;
    align-items: center;
    padding: 8px;
    border-radius: 10px;
    
  }
  .Npeople{
    margin-top: 15px;
  }
  
  .hr1{
    margin: 0 10px;
    border:black 2px solid;
    border-radius: 10px;
    opacity: 100;
  }
  hr{border:black 2px solid;}
  .row2{
    display:flex;
  }

  .contop{
    
    align-content:space-between;
  }
.pi1{
    margin-bottom: 0;
}

/*Target Practice Specific*/
.box{
    height: 300px;
}
  .box1{
  border:1px solid green;
  }
  .box2{
    border: 4px solid red;
  }

  

  .flex-container {
    flex-grow:1;
    padding: 0;
    margin: 0;
    list-style: none;
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    justify-content: space-around;
  }
  
  .flex1{
    display:flex;
    flex-direction:column;
    height: 100%;
    
  }
  .nowrap  { 
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
  
  .wrap    { 
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
  }  
 
  
  .flex-item {
    padding: 5px;
    margin: 0px;
  }
  .img-container{
    border: 2px solid red;
    position: relative;
    align-self: center;
  }
  .overlaycontainer{
    position: relative;
    width: 100%;
    height: 100%;
  }
  .flex-item {
    flex-grow: 0; /* Prevent horizontal growth */
    flex-shrink: 0; /* Prevent horizontal shrinking */
    flex-basis:100%; /* Let the item size itself based on content */
    overflow:auto; /* Enable vertical scrolling if needed */
  }
  .chartcontainer{
    position: relative;
  }
  #myChart1{
    position: relative;
    object-fit: contain;
    z-index: 0;
  }

  .highlightsquare{
    position:absolute;
    height:100%;
    width:100%;
    background-color: rgba(128, 0, 128,0);
    font-size: large;
    color:black;
    text-align: center;
    opacity: 0;
  }
  .highlighttext{
    background-color: white;
    display:block;
    font-size: large;
    font-weight: bold;
    z-index: 4;
    margin: 0;
    position: absolute;
    min-width: 200px;
    top: 20%;
    transform: translateY(-50%);
    left: 50%;
    transform: translateX(-50%);    
  }
 .highlightcircle{
    position:absolute;
    height:100%;
    width:100%;
    
    z-index: 50;
    border-radius: 50%;
    opacity:0;
  }
  
  .highlightsquare:hover{
    display:block;
    background-color:rgb(5, 157, 192, .6);
    opacity: 1;
  }
  
  .highlightcircle:hover{
    display:block;
    background-color:rgba(51, 204, 204, .4);
    opacity:1;
  }

  .explanation{
    padding: 0 20px;
    margin:0;
  }
  .explanation p{
    font-size:17px;
    margin:0;
  }
  .flex-container > li{
    
    display: flex;
    flex-direction: column;
   
    position: relative;
  }
.flex-container{flex-wrap: wrap;}
 .targetcontainer{
    flex-basis: 100%;
 }

  .diagram{
    object-fit: contain;
    max-width:100%;
  }
  .flex-item{
    border: 3px solid green;
    flex-grow:0;
    flex-shrink: 0;
    align-self:start;
  }

  @media screen and (min-width:850px) {
    .flex-container { flex-wrap: wrap;  }
    .fi1:nth-child(1){
        flex-basis:30%;
       }
    .fi1:nth-child(2) {
        flex-basis:69%;
        
      }
    .targetcontainer2{
        flex-basis: 45%;
    }
    .targetcontainer3{
        flex-basis: 45%;
    }
  }
  @media screen and (min-width:1295px) {
    .targetcontainer1{
        flex-basis: 49%;
        
    }
    .targetcontainer2{
        flex-basis: 49%;
    }
    .fi1:nth-child(1){
        flex-basis: 100%
    }
    .fi1:nth-child(2){
        flex-basis: 100%;
    }
    .targetcontainer3{
        flex-basis: 88%;
    }
      
  }

