*{
    box-sizing: border-box;
}
/*Nav Menu */
/* Want to center Items when compressed
Also want them to be highlighted on hover.*/

.navbar{
    display: flex;
}
.navbar-nav{
    flex-grow:1;
    
}
.nav-item{
    text-align: center;
    flex-grow: 1;
    margin-left: 5px;
    margin-right: 5px;

}
.nav-item a:hover{
    background-color: lightblue;
}
/*Creating Sidenav Menu */
.iconbox{
    display:block;
    justify-content: center;
    padding:0;
    margin:0;
}
.fa-solid{
    color:white;
}
.icon{
    justify-content: center;
    padding-left:0;
    margin-left: 0;

}

.sidebar{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 2;
    left: 1;
    background-color: black;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
#allcontent{
    position:relative;
   

}



.sidebar .f{ 
    position: absolute;
    top: 0;
    right: 0px;
    height: 100px;
    font-size: 36px;
    margin-left: 50px;
}
.sidebar{
    color: white;
    text-align: center;
}
.sidecontent{
    padding-top: 20px;
}
#authorpic{
    margin-top: 20px;
    border-radius: 50%;
}
.sidetext{
    padding-top: 25px;
    text-align: left;
    padding-left: 15px;
    padding-right: 15px;
}
.openbtn{
    position: relative;
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
}
#main{
    transition: margin-left .5s;
    padding: 0;
}
.content{
    padding: 16px;
}
/* When height is less than 450ps, change the style of sidenav */

@media screen and (max-height: 450px){
    .sidebar{padding-top: 15px;}
    .sidebar a {font-size: 18px;}
}
/* Styling the links */ 


/* Links change on hover */
/* Self question: Should the background of the links
change on hover? */
.debug{
    border: 4px red dotted;
}
.debugg{
    border: 4px green dotted;
}
.nav-item .active{
    background-color: grey;
}

