/*Styles.css */
/*
/* CSS HEX */
/*--pink-lavender: #cdb4dbff;
--orchid-pink: #ffc8ddff;
--nadeshiko-pink: #ffafccff;
--uranian-blue: #bde0feff;
--baby-blue-eyes: #a2d2ffff;
*/

    /* Remove the navbar's default margin-bottom and rounded borders */ 
    *{
      box-sizing: border-box;
    }
    html, body{
      height: 100%;
    }
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    .pagewrapper{
      min-height: 100%;
      position:relative;
    }
    .sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;
      height: 100%;
      display: flex;
      flex-direction: column;
    }
    .flex-fill{
      flex:1 1 auto;
    }
    footer {
      background-color: lightpink;
      color: white;
      padding: 15px;
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;} 
    }
    @media screen and (max-width: 992px) {

      .row.content {height:1700px;} 
    }
    .navbar-header{
      position: relative;
    }


/* Welcome page specific*/
.frame{
  /*For photos on homepage */
  padding: 40px;
}
.attributions{
  font-size: x-small;
  color:white;
}
.grid::after {
  content: "";
  flex: auto;
}
/* A class to allow us to center items */
.center{
  margin: 0;
  position: relative;
  top:50%;
  left:50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%)
}
/*Birthday Problem Specific*/

.problemexplainer{
  font-size: 17px;
 }
.explanationcontain{
  max-width: 85%;  
}
.cupcakeimg{
  max-width:100%;
  max-height:100%;
  border-radius: 50%;
}
.piccontainer{
  padding:0px;
  height: auto; 
  margin-top: 10px;
}

.probintro{
  padding: 30px;
  margin: 0px;
}
.examplecase{
  margin-top: 2%;
  padding:100px;
  margin-bottom:2%;
  padding:0;
  background-color: #dddddd;
  height: 96%; 
}
.head1{
  padding-top: 20px;
  font-weight: bolder;
}
.excase{
  padding: 10px;
  padding-bottom: 0px;
}
.case1row{
  height:auto;
  display: flex;
  align-items: stretch;
}

.math-container{
  background-color: lavenderblush;
  width: 85%;
  position: relative;
  margin:auto;
  text-align: center;
  margin-bottom: 30px;
  padding-top: 3%;
  padding-bottom: 5%;
  padding-left: 2%;
  padding-right: 2%;

}
.slidecontainer{
  width:100%;
}

.slider:hover{
  opacity:1;
}


.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #04AA6D; /* Green background */
  cursor: pointer; /* Cursor on hover */
}


/* Sandbox building, Especially Goat Problem*/
.multidooroutline{
  margin:10%;
  display: flex;
  padding: 37px;
  width: 900px;
}
.doorbox{
  height: 400px;
  width: 350px;
  position: relative;
  padding: 0px;
  overflow: hidden;
}
.imgbox{
 height: 70%;
 width: 65%;
 position: absolute;
 justify-content: center;
 align-items: center;
 overflow: hidden;
}
.doorimg {
  flex-shrink: 0;
  min-width: 80%;
  min-height: 90%;
  position: absolute;
  top:5%;
  bottom: 100;
  left: 5%;
  right: 0;
}

.fade{
  opacity:100%;
}
.fade:hover{
  visibility: none;
}

.goatimg{
  flex-shrink: 0;
  min-width: 80%;
  min-height: 90%;
  position: absolute;
  top: 5%;
  bottom:0;
  left:5%;
  right:0;
}
.doornum{
  display: block;
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 150px;
  color:black;
}

.startbutton{
  position:absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 15px;
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline:none;
  color: #fff;
  background-color: #04AA6D;
  border:none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}
.startbutton:hover {background-color: #3e8341;}

.button:active{
  background-color: #3e8e60;
  box-shadow: 0 5 px #666;
  transform: translateY(4px);
}
.doorbox1{
  height: 400px;
  width: 300px;
  position: relative;
  padding:20px;
  margin: 10px;
}
.buttonbox{
  position:relative;
  height: 100px;
  width: 100%;
  border: 2px black solid; 
  color: orange;
}
.doorcontainer{
  margin: 8%;
  position: absolute;
}

.doorbtn{
display: none;
}
.sbtn{
  display:none;
}

#instruction{
  display: block;
  background-color: aquamarine;
  font-size: x-large;
  margin-top: 90px;
}



.birthdayp{
  width: 25%;
  aspect-ratio: 1/1;
  background-color: #04AA6D;
  padding:0;
}
.birthdayrow{
  height:50%;
  
}
.birthdaybox{
  height: 100%;
  background-color: lightblue;
  position:relative;
}
.personbox{
  background-color: #ffdb90;
  height:75%;
  aspect-ratio: 1/1;
  position:absolute;
  left:50%;
  top:50%;
  transform: translate(-50%,-50%);
}
.bdayboy{
  position:relative;
  max-height: 100%;
}


/*Debugging Options
*/
.debug{
  border-style:dotted;
}
.debugred{
  border: red solid;
}
.debuggreen{
  border:  green dashed;
}

/*Monty Hall Testing*/
html, body {
  margin: 0;
  padding: 0;
}
header {
  height: 80px;
  width: 100%;
  background-color: #aaa;
}
.content-area {
  height: 310px;
  background-color: #bbb;
}
.left-sidebar {
  float: left;
  width: 50px;
  height: 100%;
  background-color: #abcdef;
}

footer {
  min-height: 50px;
  width: 100%;
  background-color: #ddd;
}