/*Styles.css */
/*
/* CSS HEX */
/*--pink-lavender: #cdb4dbff;
--orchid-pink: #ffc8ddff;
--nadeshiko-pink: #ffafccff;
--uranian-blue: #bde0feff;
--baby-blue-eyes: #a2d2ffff;
*/

    /* Remove the navbar's default margin-bottom and rounded borders */ 
    
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
      
    }
    
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 1000px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;
      height: 100%;
    }
    
    /* Set black background color, white text and some padding */
    footer {
      background-color: lightpink;
      color: white;
      padding: 15px;
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;} 
    }
    @media screen and (max-width: 992px) {

      .row.content {height:1700px;} 
    }
    .navbar-header{
      position: relative;
    }
.debug{
  border-style:dotted;
}
.frame{
  padding: 40px;
}
.attributions{
  font-size: x-small;
  color:white;
}
.col-md-4{
  display:grid;
  justify-content: center;
  
}
.problemcontainer{
  border-right-style: outset;
  border-top: none;
  border-left: none;
  border-bottom: none;
  height:700px;
}
.grid::after {
  content: "";
  flex: auto;
}
.problemexplainer{
  font-size: 17px;
  
 }
.explanationcontain{
  max-width: 85%;
  
}



/* Sandbox building*/
.multidooroutline{
  margin:10%;
  display: flex;
  padding: 37px;
  width: 900px;
}
.doorbox{
  
  height: 400px;
  width: 350px;
  position: relative;
  padding: 0px;
  overflow: hidden;
  
}
.debugred{
  border: red solid;
}
.debuggreen{
  border:  green dashed;
}
.center{
  margin: 0;
  position: relative;
  top:50%;
  left:50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%)
}
.imgbox{
 height: 70%;
 width: 65%;
 position: absolute;
 justify-content: center;
 align-items: center;
 overflow: hidden;
}
.doorimg {
  flex-shrink: 0;
  min-width: 80%;
  min-height: 90%;
  position: absolute;
  top:5%;
  bottom: 100;
  left: 5%;
  right: 0;
}

.fade{
  opacity:100%;
}
.fade:hover{
  visibility: none;
}

.goatimg{
  flex-shrink: 0;
  min-width: 80%;
  min-height: 90%;
  position: absolute;
  top: 5%;
  bottom:0;
  left:5%;
  right:0;
}
.doornum{
  display: block;
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 150px;
  color:black;

}

.startbutton{
  position:absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 15px;

  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline:none;
  color: #fff;
  background-color: #04AA6D;
  border:none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}
.startbutton:hover {background-color: #3e8341;}

.button:active{
  background-color: #3e8e60;
  box-shadow: 0 5 px #666;
  transform: translateY(4px);
}
.doorbox1{
  height: 400px;
  width: 300px;
  position: relative;
  padding:20px;
  margin: 10px;
}
.buttonbox{
  position:relative;
  height: 100px;
  width: 100%;
  border: 2px black solid; 
  color: orange;
}
.doorcontainer{
  margin: 8%;
  position: absolute;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 400px 100px;
  gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.doorbtn{
display: none;
}
.sbtn{
  display:none;
}

#instruction{
  display: block;
  background-color: aquamarine;
  font-size: x-large;
  margin-top: 90px;
}